@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
:root {
    --color-primary: #aa5656;
    --color-secondary: #f1dbbf;
    --color-dark: #000;
    --color-white: #fff;
    --color-player: #56aa68;
    --color-enemy: #aa5656;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
}
.index-container,
.game-container {
    border: 5px solid var(--color-primary);
    border-radius: 25px;
    padding: 16px 32px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 95vh;
}

.btn {
    width: 256px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    border-radius: 16px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    transition: all 0.5s;
}
button:hover,
.btn:hover {
    transform: scale(0.9);
}

a {
    text-decoration: none;
}

h1 {
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-primary);
}

.icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 72px;
    height: 72px;
}
.icons-group {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.icon.rock,
.icon[data-sign='rock'] {
    background-image: url('assets/rock.svg');
}
.icon.paper,
.icon[data-sign='paper'] {
    background-image: url('assets/paper.svg');
}
.icon.scissors,
.icon[data-sign='scissors'] {
    background-image: url('assets/scissors.svg');
}

/* game.html */
.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.sign-container {
    display: flex;
    gap: 16px;
}
.sign {
    border: none;
    outline: none;
    background: transparent;
    width: 64px;
    height: 64px;
}
.sign .icon {
    width: inherit;
    height: inherit;
}
h4 {
    font-size: 32px;
    text-transform: uppercase;
}
.player {
    color: var(--color-player);
}
.computer {
    color: var(--color-enemy);
}
.player > h4 {
    margin-top: 8px;
}
.computer > h4 {
    margin-bottom: 8px;
}
.result {
    width: 100%;
    position: relative;
}
.result .line-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: end;
}
.result .line-container .point {
    font-size: 24px;
}
.result hr {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px dashed var(--color-dark);
}
#match-result {
    position: absolute;
    background-color: var(--color-white);
    padding: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    text-transform: uppercase;
}
.selected-sign {
    width: 128px;
    height: 128px;
    border: 2px dashed;
    display: flex;
    align-items: center;
    justify-content: center;
}
